@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: 'League Spartan', sans-serif;
}

.container__calculator {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container__calculator__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container__calculator__header__title{
    font-size: 2rem;
    display: flex;
}

.container__calculator__header__theme{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 45%;
}

.container__calculator__header__theme__keypad{
    width: 50%;
}

.container__calculator__header__theme__keypad__numbers{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}


.container__calculator__header__theme__keypad__buttons{
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    padding: 3px;
    width: 100%;
    height: 50%;
}

.container__calculator__header__theme__keypad__buttons > div{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    cursor: pointer;
}

.container__calculator__input{
    width: 100%;
    height: 15%;
    border-radius: 10px;
    font-size: 2.5rem;
    text-align: end;
    padding: 1rem 1.5rem;
    overflow-x: scroll;
    overflow-y: hidden;

}

.container__calculator__controls{
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 2vh;
    cursor: pointer;
    border-radius: 10px;
    padding: 1rem;
}

.container__calculator__controls__buttons{
    border-radius: 5px;
    font-size: 1.5rem;
}

.container__calculator__controls__buttons > span{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.brigthness-130:hover{
    filter: brightness(130%);
}
.reset__button{
    grid-area: 5/1/6/3;
}

.equal__button{
    grid-area: 5/3/6/5;
}

.opacity-none{
    opacity: 0;
}

.click__btn{
    animation-name: animation-click-btn;
    animation-duration: 1s;
}

@keyframes animation-click-btn {
    0%{
        filter: brightness(100%);
    }50%{
        filter: brightness(130%);
    }100%{
        filter: brightness(100%);
    }
}

@media(min-width: 675px){
    .container__calculator{
        width: 60%;
    }
}

@media(min-width: 1024px){
    .container__calculator{
        width: 30%;
    }
}