@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    user-select: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: 'League Spartan', sans-serif;
}

.container__calculator {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container__calculator__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container__calculator__header__title {
    font-size: 2rem;
    display: flex;
}

.container__calculator__header__theme {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 45%;
}

.container__calculator__header__theme__keypad {
    width: 50%;
}

.container__calculator__header__theme__keypad__numbers {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}


.container__calculator__header__theme__keypad__buttons {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    padding: 3px;
    width: 100%;
    height: 50%;
}

.container__calculator__header__theme__keypad__buttons>div {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    cursor: pointer;
}

.container__calculator__input {
    width: 100%;
    height: 15%;
    border-radius: 10px;
    font-size: 2.5rem;
    text-align: end;
    padding: 1rem 1.5rem;
    overflow-x: scroll;
    overflow-y: hidden;

}

.container__calculator__controls {
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2vh;
    cursor: pointer;
    border-radius: 10px;
    padding: 1rem;
}

.container__calculator__controls> :nth-child(1) {
    grid-area: 1/1/2/3;
}

.container__calculator__controls__buttons {
    border-radius: 5px;
    font-size: 1.5rem;
}

.container__calculator__controls__buttons>span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-trigonometry-func {
    width: 100%;
    font-size: 1.2rem;
    position: relative;
}

.fa-angle-down {
    margin-left: 3px;
}

.container__calculator__controls__buttons__func {
    width: 100%;
    position: absolute;
    height: 5vh;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    gap: 2px;
    border-radius: 5px;
    visibility: hidden;
    cursor: default;
    z-index: 1;
}

.container__calculator__controls__buttons__func__animate {
    transition: all 1s;
    bottom: -75%;
    visibility: visible;
}


.container__calculator__controls__buttons__func>* {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    flex: 1 0 5%;
    cursor: pointer;
    background-color: var(--light-grayish-orange);
    color: var(--very-dark-grayish-blue);
    position: relative;
}

.container__calculator__controls__buttons__func> span > b {
    position: absolute;
    font-size: .7rem;
    top: 0;
    right: 1px;
}

.container__calculator__controls__buttons__func>*:hover {
    font-size: 1.3rem;
}

.brigthness-130:hover {
    filter: brightness(130%);
}

.reset__button {
    grid-area: 6/1/7/3;
}

.equal__button {
    grid-area: 6/3/7/5;
}

.opacity-none {
    opacity: 0;
}

.opacity-70{
    opacity: 0.5;
}

.d-none{
    display: none;
}

.click__btn {
    animation-name: animation-click-btn;
    animation-duration: 1s;
}

@keyframes animation-click-btn {
    0% {
        filter: brightness(100%);
    }

    50% {
        filter: brightness(130%);
    }

    100% {
        filter: brightness(100%);
    }
}

@media(min-width: 675px) {
    .container__calculator {
        width: 60%;
    }
}

@media(min-width: 1024px) {
    .container__calculator {
        width: 30%;
    }
}